<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="../assets/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="app">
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Aplikasi Pengarsipan Surat
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav nav-pills nav-pills-rose nav-stacked">
                    <li class="active">
                        <a href="#!">
                            <i class="material-icons add circle outline"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="active" >
                        <a href="#!suratmasuk">
                            <i class="material-icons"></i>
                            <p>Surat Masuk</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#!suratkeluar">
                            <i class="material-icons"></i>
                            <p>Surat Keluar</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="upgrade.html">
                            <i class="material-icons"></i>
                            <p>By</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="card">
                <div class="card-content">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <img style="width:200px" height="250px" src="../assets/img/pemerintah provinsi file png.png" />
                            </div>

                            <div class="col-md-8">
                                <h2>SEKRETARIAT DAERAH  PROVINSI  PAPUA</h2>
                                <h4>BIRO PERBATASAN DAN KERJASAMA LUAR NEGERI</h4>
                                <h6>JL. Raya Abepura No. 8  Entrop Jayapura    Telp. (62967) 534843, (62967) 531519</h6>
                            </div>
                        </div>
                </div>
            </div>

            <div class="content">
                @RenderBody()

               
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">

                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>
        </div>

    </div>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="../assets/js/material-dashboard.js?v=1.2.0"></script>
   
    <script type="text/javascript">

    $(document).ready(function() {

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
    </script>

</body>
</html>
